<table class="table-fill">
    <thead>
    <tr>
        <th colspan="6" class="text-center">Customers &nbsp;&nbsp; <button class="add">+Add</button></th>
    </tr>
    </thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Image</th>
        <th>Address</th>
        <th>Mobile</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Germany</td>
    </tr>
</table>
